extends layout

block content
  h1 The form
  h2 Add a new message 
  form(method="POST" action="/new")
     label(for="name") Your name
     input(type="text" id="name" name="name")
     label(for="message") Your message
     input(type="text" id="message" name="message")
     input(type="submit")


